<%= render "partial/flash" %>

<div class="container">
	<div class="row top">
    <div class="col-md-offset-4 col-md-4 col-xs-offset-1 col-xs-10">

			<h4>アーティスト編集</h4>

			<%= form_for(@artist) do |f| %>

			<div class="field">
				<p>
					アーティスト名
				</p>
				<%= f.text_field :artist_name %>

  				<p>
  					アーティスト名フリガナ
  				</p>
  				<%= f.text_field :artist_kana %>

  				<p>
  					アーティスト説明
  				</p>
  				<%= f.text_area :artist_details, size: '30x10' %>

  				<p>
  					アーティスト画像
  				</p>
  				<p style="font-size: 12px;">
  					<%= f.attachment_field :thumbnails_images, multiple: true %>
  				</p>
			</div>

			<div class="actions">
				<%= f.submit '更新' %>
			</div>

			<% end %>

		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-offset-4 col-md-4">
			<%= link_to "戻る", artist_path(@artist), class: "btn btn-default" %>
		</div>
	</div>
</div>