<p>アーティスト一覧</p>

<table class="table">
  <tr>
    <th>
      <p>アーティスト名</p>
    </th>
    <th>
      <p>説明</p>
    </th>
    <th>
    </th>
  </tr>
  <% @artists.each do |artist| %>
  <tr>
    <td>
      <%= link_to artist_path(artist.id) do %>
      <%= artist.artist_name %>
    </td>
    <td>
      <%= artist.artist_details %>
    </td>
    <% end %>
    <td>
      <%= link_to "詳細", artist_path(artist.id) %>
      <% if current_admin%>
      <%= link_to "削除", artist_path(artist.id), method: :delete, data: { confirm: "削除してよろしいですか？" } %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<% if current_admin %>
<%= link_to "アーティスト新規登録", new_artist_path %>
<% end %>
