<p>アーティスト詳細</p>

アーティスト名：<%= @artist.artist_name %><br>
アーティスト説明：<%= @artist.artist_details %><br>

<% if @artist.thumbnails.present? %>
  <% @artist.thumbnails.each do |image| %>
    <%= attachment_image_tag image, :image, :fill, 200, 200 %>
  <% end %>
  <% else %>
    <%= image_tag 'no_image.png', size: '200x200' %>

<% end %>

<p>movie</p>

<% if @user == admin_user %>
<%= link_to "編集", edit_artist_path(@artist.id) %>
<%= link_to "削除", "artists/#{@artist.id}", method: :delete, data: { confirm: "削除してよろしいですか？" } %>


<% end %>


<p>ライブ一覧</p>
<% @artists.lives.each do |live| %>
      <%= link_to artist_path(book.user) do %>
      <%= @artist.live.when %>
      <%= @artist.live.place_id %>
      <%= @artist.live.live_titile %>
<% end %>
<% end %>

<% if @user == admin_user %>
    <%= link_to "ライブ追加", path %>
    <%= link_to "ライブ編集", path %>
    <%= link_to "ライブ削除", path, method: :delete %>
    <% end %>
