<div class="container">
  <p>お気に入りアーティスト</p>

<table class="table">
  <tr>
    <th>
      <p>アーティスト名</p>
    </th>
    <th>
      <p>説明</p>
    </th>
    <th>
    </th>
    <th>
      <p>お気に入り</p>
    </th>
  </tr>
  <% @artists.each do |artist| %>
  <tr>
    <td>
      <%= link_to artist_path(artist.id) do %>
      <%= artist.artist_name %>
    </td>
    <td>
      <%= artist.artist_details %>
    </td>
    <% end %>
    <td>
              <% if current_user %>
              <% if artist.favorite_user(current_user.id) %>
              <%= link_to artist_favorites_path(artist), method: :delete, class: "glyphicon btn btn-default" do %>
              <span class="glyphicon-star-empty">お気に入り済</span>
              <% end %>
              <% else %>
              <%= link_to artist_favorites_path(artist), method: :post, class: "glyphicon btn btn-default" do %>
              <span class="glyphicon-plus">お気に入り追加</span>
              <% end %>
              <% end %>
              <%end%>
    </td>
    <td>
      <%= link_to "詳細", artist_path(artist.id) %>
    </td>
  </tr>
  <% end %>
</table>

<%= link_to "戻る", root_path %>
</div>