<p>ユーザー編集</p>

<%= form_for @user do |f| %>

<p>プロフィール画像</p>

<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.png" %>
<%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>

<p>名前</p>
<%= f.text_field :user_name, autofocus: true %>

<p>ニックネーム</p>
<%= f.text_field :nickname, autofocus: true %>

<p>メールアドレス</p>
<%= f.text_field :email, autofocus: true %>


<%= f.submit "情報更新" %>
<% end %>