<%= render "partial/flash" %>

<div class="container">
	<div class="row top">
    <div class="col-md-offset-4 col-md-4 col-xs-offset-1 col-xs-10">
			<h4>User一覧</h4>

			<table class="table">
				<thead>
					<tr>
						<th>名前</th>
						<th>メールアドレス</th>
						<th></th>
					</tr>
				</thead>

				<% @users.each do |user| %>
				<tbody>
					<tr>
						<td><%= user.user_name %></td>
						<td><%= user.email %></td>
						<td>
							<%= link_to "詳細", user_path(user), class: "btn btn-default" %>
							<%= link_to "削除", user_path(user), method: :delete, class: "btn btn-default" %>
						</td>
					</tr>
				</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>
