<table class="table" >
  <div class="social">

    <% comments.each do |comment| %>
    <% unless comment.id.nil? %>

    <tr>
        <td rowspan="2">
           <%= attachment_image_tag comment.user, :profile_image, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.png", size: '60x60' %>
        </td>

        <td>
            <%= link_to favorites_list_path(comment.user.id) do %>
            <p class="comment-name"><%= comment.user.nickname %>さん</p>
            <% end %>
        </td>
        <td>
          <% if current_user %>
          <% if comment.like_user(current_user.id) %>
          <li>
            <%= link_to artist_live_comment_likes_path(@artist, @live, comment), method: :delete do %>
            <i class="fas fa-heart" aria-hidden="true" style="color: red;" ></i>
            <%= comment.likes.count %> いいね
            <% end %>
          </li>
          <% else %>
          <li>
            <%= link_to artist_live_comment_likes_path(@artist, @live, comment), method: :post do %>
            <i class="fas fa-heart" aria-hidden="true" style="color: white;" ></i>
            <%= comment.likes.count %> いいね
            <% end %>
          </li>
          <% end %>
          <% end %>
        </td>

        <td>
        <% if comment.user == current_user || current_admin %>
          <p><%= link_to '削除', artist_live_comment_path(artist, live, comment.id), method: :delete, remote: true, class: "btn btn-default" %></p>
          <% end %>
        </td>
      </tr>

        <tr>
        <td colspan="3">
        <p><%= comment.contents %></p>
        </td>
    </tr>
<% end %>
    <% end %>
  </div>
</table>

<%= paginate comments, class: "pagenate" %>



