<p>ライブ一覧</p>
<% @artists.lives.each do |live| %>
      <%= link_to artist_path(book.user) do %>
      <%= @artist.live.when %>
      <%= @artist.live.place_id %>
      <%= @artist.live.live_titile %>
<% end %>

<p>感動を共有する</p>




<% if current_user %>
            <strong>感動を共有する</strong>
            <%= form_for [@product, @post] do |f| %>
            <%= f.text_area :contents, rows:'5', :size=>"60" ,placeholder: "コメントをここに" %>
            <%= f.submit "送信する", class:"btn btn-info" %>
            <% end %>
<% end %>

            <table class="table" >
             <% @product.posts.each do |post| %>
             <tr>
              <td>
                <%= post.profile_image %>
                <%= post.created_at.strftime('%Y/%m/%d') %>
                <%= post.contents %>
              </td>

              <td>
                <% if review.user == current_user || current_admin %>
                <%= link_to "削除", live_comment_path(@product,review.id), method: :delete %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
